<div>
    <h1 class="h2">List</h1>
</div>
<div class="text-nowrap">
    <table class="table table-hover table-responsive table-borderless table-fixed">
        <thead>
            <tr>
            <tr>
                <th>Tipo de documento</th>
                <th>Cedula</th>
                <th>Primer Nombre</th>
                <th>Segundo Nombre</th>
                <th>Primer Apellido</th>
                <th>Segundo Apellido</th>
                <th>Genero</th>
                <th>Fecha de nacimiento</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email personal</th>
                <th>Fecha de ingreso</th>
                <th>Programa</th>
                <th>Email Institucional</th>
                <th>CvLAC</th>
                <!--<th>estado</th>-->
            </tr>
        </thead>
        <tbody>
        <tr *ngFor="let tutor of tutores">
            <td>{{tutor.tipoDocumento}}</td>
            <td>{{tutor.cedula}}</td>
            <td>{{tutor.primerNombre}}</td>
            <td>{{tutor.segundoNombre}}</td>
            <td>{{tutor.primerApellido}}</td>
            <td>{{tutor.segundoApellido}}</td>
            <td>{{tutor.genero}}</td>
            <td>{{tutor.fechaNacimiento}}</td>
            <td>{{tutor.direccion}}</td>
            <td>{{tutor.telefono}}</td>
            <td>{{tutor.email_Personal}}</td>
            <td>{{tutor.fechaIngreso}}</td>
            <td>{{tutor.programa}}</td>
            <td>{{tutor.email_Institucional}}</td>
            <td>{{tutor.cvlac}}</td>
        <!--    <td>{{tutor.estado}}</td>-->
            <td><a routerLink="/editartutor/{{tutor.cedula}}">Editar</a></td>
        </tr>
    </tbody>
    </table>
</div>