@import url('https://fonts.googleapis.com/css?family=Montserrat:500');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(2, 2, 8);
}

li, a, button {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    color:white;
    text-decoration: none;
}

.barra {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px 10%;
    box-shadow:  0px 7px 8px -5px rgba(0, 0, 0, 1);
    height: 70px;
}

.logo {
    cursor: pointer;
    margin-right: auto;
    transform: scale(0.3);
}

.nav__links {
    list-style: none;
}

.nav__links li {
    display: inline-block;
    padding: 0px 30px;
}

.nav__links li a {
    transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
    color: rgb(216, 218, 228);
}

button {
    padding: 9px 25px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

.row a{
    background-color:transparent;
}

.row i{
    background-color:transparent;
    margin-right: 10px;
}

button:hover {
    background-color: rgba(216, 218, 228, 0.801);
    color: black;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}