@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.contenedor{
    position: relative;
    /*max-width: 1200px;*/
    /*margin: 20px auto;*/
    width: 100%;
    padding: 10px;
    background: rgb(8, 221, 122);
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
}

.logo{
    /*color: #069370;*/
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight: 700;
    text-decoration: none;
    transform: scale(0.9);
}

nav{
    float: right;
}
.clearfix{
    clear: both;
}

nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li{
    list-style: none;
}

nav ul li a{
    display: block;
    margin: 10px 3px;
    padding: 10px 15px;
    text-decoration: none;
    color: #262626;
}

nav ul li button{
    display: block;
    margin: 10px 3px;
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    color: #fff;
    background: rgb(7, 187, 103);
    border-radius: 35px;
}

nav ul li a.active,
nav ul li a:hover{
    background: rgb(8, 221, 122);
    color: #fff;
    /*transition: 0.5s;*/
}