<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

<div class="barra">
  <img class="logo" src="assets/images/logo2.png" alt="logo">
  <div class="row">
    <div class="col">
      <div ngbDropdown class="d-inline-block">
        <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Tutor</button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button ngbDropdownItem [routerLinkActive]='["link-active"]'><a [routerLink]='["/registrotutor"]'><i
                class="fa fa-plus fa-lg"></i> Registrar tutor</a></button>
          <button ngbDropdownItem [routerLinkActive]='["link-active"]'><a [routerLink]='["/consultatutor"]'><i
                class="fa fa-search fa-lg"></i>Consultar tutor</a></button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Estudiante</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem [routerLinkActive]='["link-active"]'><a [routerLink]='["/registroestudiante"]'><i
                  class="fa fa-plus fa-lg"></i> Registrar estudiante</a></button>
            <button ngbDropdownItem [routerLinkActive]='["link-active"]'><a [routerLink]='["/consultaestudiante"]'><i
                  class="fa fa-search fa-lg"></i>Consultar estudiante</a></button>
          </div>
        </div>
      </div>
  </div>